<div style="background-color: pink;width: 100%;height:95%">
<form  action="/download" method="post" >
    <h1 style="text-align: center;padding-top:150px ;">Enter Your Profile Details Here.</h1>
    <div style="text-align: center;padding-top:30px;">
        <label for="exampleInputEmail1" class="form-label">Email address</label>
        <input
          type="email"
          name="email"
          placeholder="Enter Your Email"
          class="form-control"
          id="exampleInputEmail1"
          aria-describedby="emailHelp"
        />
        
      </div>
      <div style="text-align: center;padding-top:20px;">
        <label for="exampleInputPassword1" class="form-label">Secret code</label>
        <input type="password" placeholder="Enter Your Secret code" name="pass" class="form-control" id="exampleInputPassword1" />
      </div>
    <input style="background-color: green;padding: 15px;margin-top: 20px;border-radius: 10%;margin-left: 580px;" type="submit" value="Find" />
</form>
<button style="margin-left: 560px;padding:15px;background-color:green;margin-top: 20px;" >
  <a href="/" class="btn btn-lg btn-success" >Home Page</a></button>
</div>
