<div style="background-color: pink;width: 100%;height:95%">
<span >
<h1 style="text-align: center;padding-top:150px ;">File upload</h1>
<form style="text-align: center;padding-top:50px;" action="/file" method="post" enctype="multipart/form-data">
    <input style="padding: 20px; " type="file" name="file" />
    <input style="background-color: green;padding: 20px;border-radius: 10%;" type="submit" value="Upload" />
</form>
</span>
</div>
