<div style="background-color: pink;width: 100%;height:95%">
<h1 style="text-align: center;padding-top:150px ;">You can download your file here.</h1>
<button style="margin-left: 550px;padding: 20px;background-color:yellowgreen;" >
<a href="/downloadFile" class="btn btn-lg btn-success" >Download</a></button>
<button style="margin-left: 550px;padding:15px;background-color:yellowgreen;margin-top: 20px;" >
    <a href="/" class="btn btn-lg btn-success" >Home Page</a></button></div>
</div>